@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");
@import "../css/tom-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak=""] {
    display: none;
}

@media screen and (max-width: theme("screens.lg")) {
    [x-cloak="lg"] {
        display: none;
    }
}

.children {
    @apply bg-white dark:bg-slate-800 rounded-lg z-10 shadow-lg shadow-indigo-400/50;
}

.children a,
.children .separator {
    display: block;
    margin: 5px 0px;
    padding: 5px 10px;
}

.children .separator {
    border-top-width: 2px;
}

.children a:hover {
    @apply text-slate-700 dark:text-slate-300;
}

@media (min-width: 768px) {
    .children {
        position: absolute;
        width: 155px;
        top: 70px;
    }
}
